.content {
  margin: 0px 10px 10px 10px;
  padding: 0px 10px 10px 10px;

  .header {
    margin: 10px 10px 10px 10px;
  }

  .toolbar {
    .button {
      margin-left: 8px;
    }
  }

  .details {
    margin: 10px 10px 10px 10px;

    .title {
      margin: 10px 10px 10px 10px;
    }

    .field {
      margin: 5px;
      min-width: 350px;
    }

    .loading-spinner-container {
      display: flex;
      justify-content: center; /* Horizontal alignment */
      align-items: center; /* Vertical alignment */
      height: 100%;
      margin-top: 10px;

      .loading-spinner-text {
        position: absolute;
        font-weight: 500;
      }
    }
  }
}
