
<main class="main">
  <div class="content">
    <mat-card>
      <div class="header">
        <mat-card-title>Home</mat-card-title>
        <p>Services Australia made easy. This portal allows you to manage the backend services so you can connect to Services Australia. Your door to seamless digital experiences.</p>
      </div>

    </mat-card>

    <mat-toolbar class="toolbar">
      <div class="button">
        <button mat-flat-button (click)="activateDevice()"><mat-icon>devices</mat-icon>Activate Device</button>
      </div>
      <div class="button">
        <button mat-stroked-button (click)="refreshDeviceKey()"><mat-icon>vpn_key</mat-icon>Refresh Key</button>
      </div>
    </mat-toolbar>

    <mat-card>
      <div class="details">
        @if(isLoading()){
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }

        <mat-card-title class="title">System Information</mat-card-title>

        @if(isInitialised()){
        <div flex layout="row" layout-sm="column" layout-xs="column">
          <mat-form-field class="field">
            <mat-label>Device Name</mat-label>
            <input matInput readonly appearance="outline" value="{{deviceInfo?.deviceName}}" />
          </mat-form-field>
          <mat-form-field class="field">
            <mat-label>Organisation RA</mat-label>
            <input matInput readonly appearance="outline" value="{{deviceInfo?.organisationRA}}" />
          </mat-form-field>
        </div>
        <div flex layout="row" layout-sm="column" layout-xs="column">
          <mat-form-field class="field">
            <mat-label>Client Id</mat-label>
            <input matInput readonly appearance="outline" value="{{deviceInfo?.clientId}}" />
          </mat-form-field>
          <mat-form-field class="field">
            <mat-label>Product Id</mat-label>
            <input matInput readonly appearance="outline" value="{{deviceInfo?.productId}}" />
          </mat-form-field>
        </div>
        <div flex layout="row" layout-sm="column" layout-xs="column">
          <mat-form-field class="field">
            <mat-label>ServiceNaps Id</mat-label>
            <input matInput readonly appearance="outline" value="{{deviceInfo?.serviceNapsId}}" />
          </mat-form-field>
          <mat-form-field class="field">
            <mat-label>Token Aud</mat-label>
            <input matInput readonly appearance="outline" value="{{deviceInfo?.tokenAud}}" />
          </mat-form-field>
        </div>
        <div flex layout="row" layout-sm="column" layout-xs="column">
          <mat-form-field class="field">
            <mat-label>Aged Care Residential Service Id</mat-label>
            <input matInput readonly appearance="outline" value="{{deviceInfo?.agedCareResidentialServiceId}}" />
          </mat-form-field>
          <mat-form-field class="field">
            <mat-label>Aged Care Home Service Id</mat-label>
            <input matInput readonly appearance="outline" value="{{deviceInfo?.agedCareHomeServiceId}}" />
          </mat-form-field>
        </div>
        <div flex layout="row" layout-sm="column" layout-xs="column">
          <mat-form-field class="field">
            <mat-label>Device Expiry</mat-label>
            <input matInput readonly appearance="outline" value="{{deviceInfo?.deviceExpiry}}" />
          </mat-form-field>
          <mat-form-field class="field">
            <mat-label>Key Expiry</mat-label>
            <input matInput readonly appearance="outline" value="{{deviceInfo?.keyExpiry}}" />
          </mat-form-field>
        </div>
        }
      </div>
    </mat-card>
  </div>
</main>

