<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <div class="progress-container">
    @if(isLoading()){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </div>

  <form [formGroup]="userForm" (ngSubmit)="submit()">

    <div flex layout="row" layout-sm="column" layout-xs="column">

    </div>

    <div flex layout="row" layout-sm="column" layout-xs="column">
      <mat-form-field class="form-field">
        <mat-label>Current password</mat-label>
        <input type="password" matInput placeholder="Current password" formControlName="currentPassword">
        <mat-error *ngIf="this.userForm.get('currentPassword')?.touched && this.userForm.get('currentPassword')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
    </div>

    <div flex layout="row" layout-sm="column" layout-xs="column">
      <mat-form-field class="form-field">
        <mat-label>New password</mat-label>
        <input type="password" matInput placeholder="New password" formControlName="newPassword">
        <mat-error *ngIf="this.userForm.get('newPassword')?.touched && this.userForm.get('newPassword')?.hasError('required')">
          New password is required
        </mat-error>
      </mat-form-field>
    </div>

    <div flex layout="row" layout-sm="column" layout-xs="column">
      <mat-form-field class="form-field">
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput placeholder="Password Confirmation" formControlName="passwordConfirm">
        <mat-error *ngIf="this.userForm.get('passwordConfirm')?.touched && this.userForm.get('passwordConfirm')?.hasError('required')">
          Password confirmation is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="validation-container">
      <mat-error *ngIf="this.userForm.get('passwordConfirm')?.dirty && this.userForm.hasError('passwordsNotMatching')">
        Passwords are not matching!
      </mat-error>

      @for (item of validationErrors; track $index) {
      <mat-error>
        {{ item.details }}
      </mat-error>
      }
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="submit()">Save</button>
</mat-dialog-actions>
